---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.jekyll-linkpreview-custom {
  padding: 12px;
}

.jekyll-linkpreview-custom-image {
  position: absolute;
  top: 0;
  left: 0;
}

.jekyll-linkpreview-custom-image img {
  margin: 0 0;
  width: 100px;
  height: 100px;
}


.jekyll-linkpreview-custom-body {
  margin-top: 10px;
  position: absolute;
  left: 120px;
}

.box {
  padding: 10px;

  * {
    color: #fff;
  }
}

.box_title {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 6px;
  color: rgb(253, 137, 29);
}

.box_discription {
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 4px;
}

.item {
  padding: 4px 0;
  font-size: 14px;
  text-indent: -20px;
  margin-left: 20px;
  line-height: 1.2;
  &:before {
    content: "";
    display: inline-block;
    margin: 0 10px 3px 6px;
    width: 4px;
    height: 4px;
    background-color: #fff;
  }
}

.list {
  list-style: none;
  padding: 0 0;
}

.date {
  font-size: 13px;
  line-height: 1.5;
  color: #909090;
  padding-bottom: 4px;
}

.link {
  font-size: 13px;
  line-height: 1.5;
  
  padding-bottom: 4px;
  a {
    color: #0980ffcc !important;
  }
}

.text_dimmed{
  color: #909090;
}